
.navbar ul {
  font-size: larger;
  list-style: none;
  display: flex;
padding-top: 8px
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: gray;
 padding-left: 30px;
 padding-right: 30px;
  color: white;
  
  
}
.link{
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: x-large;
  font-weight: 600;
 
}
.pages{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: xx-large;
  font-weight: bold
}